<%- include("header") -%>
    <div class="show-box text-center">
        <h1 class="mt-3">Oops Not Found!</h1>

        <p class="text-warning">
            <%=err%>
        </p>

        <form action="/" method="get">
            <button class="btn btn-outline-dark mb-5 more-btn" type="submit">Go Back</button>
        </form>
    </div>

    <%- include("footer") -%>