/* Global Styles */
:root{
    --light-blue: rgb(87, 178, 214);
    --dark-blue: rgb(1, 44, 85);
    --white: rgb(255, 255, 255);
    --yellow-shadow: rgb(92, 76, 4);
}
body{
    background: linear-gradient(var(--light-blue), var(--dark-blue));
}
body::-webkit-scrollbar{
    display: none;
}
.spaced{
    margin: 50px 100px 0 100px;
}
@media(max-width: 768px){
    .spaced{
        margin-left: 20px;
        margin-right: 20px;
    }
}
.card-space-bottom{
    margin-bottom: 25px;
}
.back-color{
    background: linear-gradient(var(--white), var(--white), var(--yellow-shadow));
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 8px 0 var(--white);
}
.card-img-top{
    border-radius: 5px;
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

