body{
    background: url(../images/background.jpg) no-repeat;
    background-size: contains;
    background-position-x: right;
    background-position-y:bottom;
}
body::-webkit-scrollbar{
    display: none;
}
.spaced{
    margin: 50px 100px 0 100px;
}
@media(max-width: 768px){
    .spaced{
        margin-left: 20px;
        margin-right: 20px;
    }
}
.card-space-bottom{
    margin-bottom: 25px;
}
.back-color{
    box-shadow: 0 0 10px 3px rgb(224, 213, 213) ;
   }

   .back-color:hover{
    box-shadow: 0 0 10px 5px rgb(224, 213, 213) ;
    transform: scale(1.03);
    cursor:pointer
   }
  
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
  