    body,
    html {
        background-color: #fcfcfc;
        font-family: 'Farro', sans-serif;
        max-width: 100%!important;
        overflow-x: hidden;
    }
    .background{
        position: absolute;
        right: 0%;
        opacity: .2;
        scroll-margin-bottom:initial;
    }
    body {
        background-image: url("/public/images/background.jpg");
        background-repeat: no-repeat;
        background-position: top right;
        background-attachment: fixed;
    }
    .color-darkblue {
        color: #004a7c!important;
    }
    
    .search-form {
        margin: 5% 25%;
        padding: 5%;
        border-radius: 25px;
    }
    
    .search-rq-form {
        display: inline-block;
        width: 100%;
        border: none !important;
        background-color: #e8f1f5!important;
        padding: 3%;
        border-radius: 50px;
        box-shadow: 1px 1px 3px 1px rgba(218, 218, 218, 0.226);
        border: 2px solid #e8f1f5!important;
    }
    
    input[text]::placeholder {
        color: #004a7c;
    }
    
    input:focus,
    button:focus,
    select:focus {
        border: 2px solid #004a7c!important;
        box-shadow: none!important;
    }
    
    .btn-search {
        margin-top: 1%;
        border: #004a7c!important;
        padding: 3%;
        border-width: 2px;
        border-radius: 50px;
    }
    
    .btn-search:hover {
        background-color: #e8f1f5;
    }
    
    .show-list {
        list-style: none;
        padding: 2%;
        border-radius: 10px;
        /* border-right: 2px dashed #004a7c; */
        /* border: 1px solid #AAB8C2; */
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.123);
        margin: .5%;
        margin-top: 4%;
    }
    
    .show-list a {
        display: block;
        text-decoration: none;
        color: #1DA1F2;
        padding: 2%;
        border: 1px solid #1DA1F2;
        margin: 0% 30%;
        border-radius: 25px;
        margin-top: 4%;
        background-color: white;
        transition: color 0.5s;
        transition: background-color 0.5s;
    }
    
    .show-list a:hover {
        background-color: #1DA1F2;
        color: white;
    }
    
    .more-btn {
        border-radius: 25px;
        color: #004a7c;
        border-color: #004a7c;
        width: 7%;
        padding: 1% 0%;
    }
    
    .more-btn:hover {
        background-color: #004a7c!important;
    }
    /* select::-webkit-scrollbar-thumb {
        background-color: #004a7c;
    } */
    /* width */
    /* width */
    
    select::-webkit-scrollbar {
        width: 20px;
    }
    /* Track */
    
    select::-webkit-scrollbar-track {}
    /* Handle */
    
    select::-webkit-scrollbar-thumb {
        background: #1DA1F2;
        border-radius: 10px;
    }
    /* Handle on hover */
    
    select::-webkit-scrollbar-thumb:hover {
        background: #004a7c;
    }
    
    .nav-heading {
        text-decoration: none;
        color: rgb(116, 116, 116);
        font-size: 2rem;
    }
    
    .nav-heading:hover {
        color: black;
    }
    
    .nav-heading-img {
        width: 7%;
    }
    
    .cv-data {
        display: inline-block;
        position: relative;
        margin-right: 50%;
        margin-left: 5%;
        width: 45%;
        height: 25%;
        transform: scale(1)!important;
        border: 1px solid transparent;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.322) inset;
        padding: 2%;
        border-radius: 10px;
        transition: all .5s!important;
    }
    
    .cv-data:hover {
        /* border: 1px solid rgb(121, 121, 121); */
        transform: scale(1.1)!important;
        box-shadow: none;
    }
    
    .cv-data-heading {
        font-weight: 100;
        color: rgba(0, 0, 0, 0.527);
        margin-bottom: 5%;
    }
    
    .cv-data-img {
        width: 30%;
        padding: 1%;
        /* border-right: 1px solid rgb(184, 184, 184); */
    }
    
    .cv-total {
        margin-left: 3%;
        font-size: 2rem;
    }
    
    .cv-active {
        font-size: 1.2rem;
        color: #6cbff3;
        position: absolute;
        bottom: 10%;
        left: 65%;
    }
    
    .cs-div a {
        display: inline-block;
        position: relative;
        transform: scale(1);
        border: 1px solid transparent;
        border-radius: 10px;
        transition: all .5s!important;
        /* margin-left: 5%;
        margin-right: 20%; */
        text-decoration: none;
        padding: 1%;
        width: 45%;
        font-size: 1.5rem;
        margin: 2% 20% 2% 5%;
        color: rgb(100, 100, 100);
    }
    
    .cs-div a:hover {
        transform: scale(1.1)!important;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.226);
    }
    
    .cs-data-img {
        width: 20%;
    }
    
    canvas {
        margin-left: 5%;
        width: 90vw!important;
        height: 90vh!important;
        max-height: 500px;
    }
    
    @media only screen and (max-width: 600px) {
        .search-form {
            margin: 0.5% 5%;
        }
        .show-list {
            margin-right: 0%;
        }
        .row {
            padding-left: 0%!important;
        }
        .more-btn {
            width: 20%;
        }
        .cv-data {
            width: 100%;
            margin-left: 0%;
            margin-right: 0%;
        }
        .cs-div {
            margin-top: 49%;
        }
        .cs-div a {
            padding: 2%;
            width: 100%;
            font-size: 1.2rem;
            margin: 10% 0%;
        }
        .cs-data-img {
            width: 20%;
        }
        .cv-data-heading {
            font-size: 1.5rem;
            font-weight: 900;
        }
        /* canvas {
            height: 45vh!important;
        } */
    }